
spring:
    application:
        name: cashing-redis

    profiles:
        active: dev

    jackson:
        serialization.write_dates_as_timestamps: false

    jpa:
        open-in-view: false
        hibernate:
            ddl-auto: none
            naming:
                physical-strategy: org.springframework.boot.orm.jpa.hibernate.SpringPhysicalNamingStrategy
                implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    mvc:
        favicon:
            enabled: false

    liquibase:
        change-log: 'classpath:db/liquibase/master.xml'

    data:
        web:
            pageable:
                 default-page-size: 10
                 one-indexed-parameters: true

server:
    servlet:
        context-path: /api